.login-text{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Times, serif;
    font-weight: bold;
    margin-right: 5px;
    margin-left: 15px;

}

.cart-icon{
    color: white;
    font-size: 19px;
    margin-top: 5px;
    cursor: pointer;
}

