<div class="card">
  <div class="card-header">book</div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-3">Name:</div>
          <div class="col-md-6">{{ book?.book_name }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Author name:</div>
          <div class="col-md-6">{{ book?.author_name }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Description:</div>
          <div class="col-md-6">{{ book?.description }}</div>
        </div>
        <div class="row">
          <div class="col-md-3">Price:</div>
          <div class="col-md-6">
            {{ book?.price | currency: "&#8377;":"symbol":"1.2-2" }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">5 Star Rating:</div>
          <div class="col-md-6">
            {{ book?.starRating }}
          </div>
        </div>
      </div>
      <div class="col-md-4" *ngIf="book?.ImageUrl">
        <img
          class="center-block img-responsive"
          [style.height.px]="150"
          [style.margin.px]="2"
          [src]="book?.ImageUrl"
          [title]="book?.book_name"
        />
      </div>
    </div>
    <button class="btn btn-primary my-3 mx-2" routerLink="/product">Back</button>
    <button class="btn btn-primary my-3 mx-2" routerLink="/update/{{this.id}}">Edit</button>
  </div>
</div>
