<div class="dashboard">
  <app-navbar></app-navbar>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active text-center">
        <img src="assets/images/Novel.jpg" class="d-block carousel-image" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h2>Top Novel Books</h2>
          <p>Purchase some of the best Novel Books</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/scienceFiction.jpg" class="d-block carousel-image" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h2>Top Science Fiction Books</h2>
          <p>Buy Top selling Science Fiction Books</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/images/selfHelp.jpg" class="d-block carousel-image" alt="..." />
        <div class="carousel-caption d-none d-md-block">
          <h2 class="carousel-title">Best Self Help Books</h2>
          <p class="carousel-desc">Buy Top selling Self Help Books</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div id="desc-section" class="text-center description">
    <h1>We Are BookTown BookStore</h1>
    <hr class="hr-header mx-auto opacity-100" />
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
          <p>
            We sell thousands of books, e-book collections, journal articles
            and key online products each year. we are a leading publisher
            champions the knowledge-maker: serving, connecting and sustaining
            communities of scholars, instructors, and professionals. Our goal is
            to ensure their knowledge and expertise makes the fullest possible
            impact. We are the leading book sellig website across the globe. we wil
            continue to serve you better.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>